.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create {
  display: flex;
  gap: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  gap: 8px;
}
