.input {
  color: var(--primary);
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 2px solid var(--primary);
  border-radius: 8px;
  background-color: transparent;
  outline: none;
}

.input:hover, input:focus {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}